
@{
    WebSecurity.RequireAuthenticatedUser();
    if(!Roles.GetRolesForUser(WebSecurity.CurrentUserId.ToString()).Contains("company")){
        Response.Redirect("~/");
    }
    WebSecurity.RequireRoles("company");

    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Company";

    String searchval = Request["search_val"];
    String regex_validsearch = "[0-9]+";
}


<div>
    @{
        
        <p>company</p>
       
    }
    <form method="post">
        <label for="search_val" @if (!ModelState.IsValidField("password")) 
            {<text>class="error-label"</text>}>search employee number</label>
        <input type="text" id="search_val" 
            name="search_val" value="@searchval" 
            @Validation.For("search_val") />
        
        <input type="submit" value="search" />
        @Html.ValidationMessage("search_val")
    </form>

</div>



