@section Scripts {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}
@{
    WebSecurity.RequireAuthenticatedUser();
    if(!Roles.GetRolesForUser(WebSecurity.CurrentUserId.ToString()).Contains("company")){
        Response.Redirect("~/");
    }
    WebSecurity.RequireRoles("company");

    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Company";

    String searchval = Request["search_val"];
 
}

<h1>company</h1>
<div id="searchfield">
    @{
        // Setup validation
        Validation.RequireField("search_val", "You must specify a search value.");
        Validation.Add("search_val",
            Validator.Regex("[0-9]+",
            errorMessage: "Input must be integers"));
   
    }
    <form method="post">
        <label for="search_val" @if (!ModelState.IsValidField("search_val")) 
            {<text>class="error"</text>}>search employee number</label>
        <input type="text" id="search_val" 
            name="search_val" value="@searchval" 
            @Validation.For("search_val") />
        
        <input type="submit" value="search" />
        @Html.ValidationMessage("search_val")
    </form>

</div>

<div id="search_result">
    @{
       // if valid search request was made
        if(Request["search_val"] != "" ){ 
            searchval = Request["search_val"];
            @Display.Employee(searchval)
        }
    }
</div>

