
@{
    WebSecurity.RequireAuthenticatedUser();
    WebSecurity.RequireRoles("employee");
    
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Employee Page";
}

<div>
    <h1>employee page</h1>
    @{
        
        if(Request["reg"] == "own")
        {
            <h2>register non-attendance</h2>
            <form id="register_own">
                <input type="text" />
                <label for="datepicker">date</label>
                <input type="text" id="datepicker">
                <input type="submit" value="register"/>
            </form>    
        } 
        else if(Request["reg"] == "child")
        {
            <h2>register non-attendance due to sick child</h2>
            <form id="register_child">
                <label for="input_childnr" >child pnr</label>
                <input id="input_childnr"type ="text" name="childpnr" />
                <input type="submit" value="register"/>
            </form>
            
        }
        else
        {
            <form action="~/Employee">
                <button id="btn_own" name="reg" value="own">register own</button>
                <button id="btn_child" name="reg" value="child">register child</button>

            </form>
        }
    }

</div>
